force-app/main/default/flows/Create_One_Time_Compensation_When_Approved.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Build_One_Time_Compensation</name>
        <label>Build One-Time Compensation</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>One_Time_Compensation.flair__Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>One_Time_Compensation.flair__Compensation_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Pay_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>One_Time_Compensation.flair__Compensation_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>One_Time_Compensation.flair__Employee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Employee__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_One_Time_Compensation</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Create One-Time Compensation When Approved {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create One-Time Compensation When Approved</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_One_Time_Compensation</name>
        <label>Create One-Time Compensation</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Set_One_Time_Compensation_ID</targetReference>
        </connector>
        <inputReference>One_Time_Compensation</inputReference>
    </recordCreates>
    <recordUpdates>
        <name>Set_One_Time_Compensation_ID</name>
        <label>Set One-Time Compensation ID</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Employee_One_Time_Compensation__c</field>
            <value>
                <elementReference>One_Time_Compensation.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Build_One_Time_Compensation</targetReference>
        </connector>
        <filterLogic>1</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <object>Bonus__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>One_Time_Compensation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>flair__Employee_One_Time_Compensation__c</objectType>
    </variables>
</Flow>
